FINNHUB_API_KEY=
BRAVE_API_KEY=
UNUSUAL_WHALES_API_KEY=
GMAIL_USER=sender.eric@gmail.com
GMAIL_APP_PASSWORD=
RECIPIENT_EMAIL=sender.eric@gmail.com
APCA_API_KEY_ID=
APCA_API_SECRET_KEY=
APCA_API_BASE_URL=https://paper-api.alpaca.markets
ROBINHOOD_USERNAME=
ROBINHOOD_PASSWORD=
ROBINHOOD_MFA_CODE=
